.body-year {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e3f2fd;
  flex-direction: column;
}
.select {
  display: flex;
  gap: 5px;
}
.btn-year {
  padding: 10px;
  font-size: larger;
}
